
        
*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1{
    margin:100px;
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    font-size: 175%;
}
section{
  
  padding: 15px;
 

}
p{

    clear: right;
}
div{
  
    background-color: gray;
    border:1px solid black;
 
}
.sub1{
    float:right;
    width: 100px;
    padding: 5px;
    margin:0px;
    border:1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: tomato;

}

.sub2{
    float:right;
    color: white;
    width: 100px;
    padding: 5px;
    margin:0px;
    border:1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: maroon;

}

.sub3{
    color:black;
    float:right;
    width: 100px;
    padding: 5px;
    margin:0px;
    border:1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.74);

}
.content{
    padding: 5px;
 
    font-family:Georgia, 'Times New Roman', Times, serif;

    margin: 0px;
    height: 200px;
    overflow:auto;
}

/* desktop version */
@media(min-width: 992px){
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}
/* tablet version */
@media(min-width: 768px) and (max-width: 991px){
    .col-md-6{
        float: left;
        width: 50%;
            
    }
}



/* mobile version */
@media(max-width: 767px){
    .col-sm-12{
        float: left;
        width: 100%;
    }
}






